@page
@model SignalR_ChatApp.Pages.ChatRoomModel
@{
    ViewData["Title"] = "ChatRoom";
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            Room...<input type="number" id="roomInput" />
            <input type="button" id="roomButton" value="Join room" />
            <input type="button" id="leaveButton" value="Leave room" />
        </div>
        <div class="col-6">
            User..........<input type="text" id="userInput" />
            <br />
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
        <div class="col-6">
            <input type="button" id="deleteButton" value="Clear messages" />
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>